* {
    box-sizing: border-box;
}

:root {
    font-size: 150%;
    font-family: sans-serif;
}

body {
    --left-space: 3rem;
    --header-height: 4.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--left-space);
    padding-top: calc(var(--header-height) + var(--left-space));
    overflow-y: scroll;
}

body > :last-child {
    margin-bottom: 3rem;
}

.header {
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    line-height: var(--header-height);
    background-color: black;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #f5f5f5;
}

.header > span {
    padding: 0 1.5rem;
}

h1 {
    max-height: 100%;
    margin: 0;
    line-height: 3rem;
    font-size: 3rem;
}

h2 {
    max-height: 100%;
    margin-top: 6rem;
    margin-bottom: -6rem;
    line-height: 2em;
    background-color: #aaa;
    box-shadow: calc(-1 * var(--left-space)) 0 0 0 #aaa;
    font-size: 1.4rem;
}

h3 {
    max-height: 100%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    line-height: 2em;
    background-color: #ddd;
    box-shadow: calc(-1 * var(--left-space)) 0 0 0 #ddd;
    font-size: 1.3rem;
}

h4 {
    max-height: 100%;
    margin-top: 4rem;
    font-size: 1.2rem;
}

h4::before {
    content: "â—";
}

p {
    max-height: 100%;
    font-size: 1rem;
}

strong {
    background: linear-gradient(transparent 40%, #ffee0080 40%);
    font-size: 1em;
    font-weight: normal;
}

.app-icon {
    display: inline-block;
    width: 10rem;
    border-radius: 20%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.app-abstract {
    position: absolute;
    display: inline-block;
    margin-left: 2rem;
}

.list {
    padding-left: 1em;
    counter-reset: list-counter;
}

.list > p {
    counter-increment: list-counter;
}

.list > p::before {
    content: counter(list-counter) ". ";
}

.list > img {
    display: inline-block;
    width: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 0 0 4px #000;
}